
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content" id="side_content">

            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="tab-content" id="nav-tabContent">
        <div class="babble tab-pane fade active show" id="list-chat">
            <div class="chat">
                <div class="content empty">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="no-messages request">
                                <h3>Welcome to <strong>WebChat</strong></h3>
                                <h5>Let's start connecting with your friends.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
