@model WebChat.Common.ViewModels.User.UserViewModel


<div class="profile">
    <img class="avatar-xl" src="@Model.AvatarLink" alt="avatar">
    <h1><a href="#">@Model.Username</a></h1>
    <span>@Model.Address</span>
    <div class="stats">
        <div class="item">
            <h2>122</h2>
            <h3>Fellas</h3>
        </div>
        <div class="item">
            <h2>305</h2>
            <h3>Chats</h3>
        </div>
        <div class="item">
            <h2>1538</h2>
            <h3>Posts</h3>
        </div>
    </div>
</div>
