

<div class="requests">
    <div class="title">
        <h1>Tạo nhóm chat mới</h1>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Tìm thành viên <span style="color:red;">*</span></label>
                <select multiple class="form-control" id="participant" style="width:370px"></select>
            </div>
            <div class="form-group">
                <label for="nameGroup">Tên nhóm:</label>
                <input type="text" id="group-name" class="form-control" placeholder="Tên của nhóm">
            </div>
            <button type="button" id="btn-create-group" class="btn button w-100">Tạo nhóm chat</button>
        </form>
    </div>
</div>
