

<div class="requests">
    <div class="title">
        <h1>Thêm liên hệ</h1>
        <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
    </div>
    <div class="content">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group ui-widget">
                <label for="user">Tìm tài khoản:</label>
                <select type="text" class="form-control" id="contact" style="width:370px"></select>
            </div>
            <div class="form-group">
                <label for="welcome">Tin nhắn:</label>
                <textarea class="text-control" id="welcome" placeholder="Send your welcome message..."></textarea>
            </div>
            <button type="button" id="btn-new-contact" class="btn button w-100">Thêm liên hệ</button>
        </form>
    </div>
</div>
