@model WebChat.Common.ViewModels.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Views/Shared/_SignIn-SignUpLayout.cshtml";
}

<div class="main order-md-1">
    <div class="start">
        <div class="container">
            <div class="col-md-12">
                <div class="content">
                    <a asp-action="Index" asp-controller="Home"><h1>WebChat</h1></a>
                    <br />
                    <h4>Bạn đang thay đổi mật khẩu cho tài khoản này</h4>
                    <p>Vui lòng nhập các thông tin bên dưới:</p>
                    <form asp-controller="User" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Id" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="PresentPassword" class="form-control" placeholder="Mật khẩu hiện tại">
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                            <span asp-validation-for="PresentPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="Mật khẩu mới">
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Xác nhận mật khẩu mới">
                            <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <button style="margin-top:20px;" type="submit" class="btn button">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

